<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%=article.title%></title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet'>

  <!-- Custom styles for this template -->
  <link href="/css/clean-blog.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">Seyi's Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" id="customLogin">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item" id="customLogin">
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead imageView" id="imageView" style="background-image: url('/img/<%=article.image_src%>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" >
          <div class="post-heading text-center headerUpArticle" id="viewTitle">
            <h1>
              <!-- title -->
              <p><%= article.title %></p>
            </h1>
            <h2 class="subheading">
              <!-- short description -->
              <p><%=article.blog_main.slice(0,50)%></p>
            </h2>
            <span class="meta" id="dateAuthor">
              Posted by
              <a href="#"><%= article.author %></a>
              on <%= article.date.slice(0,24) %>  <i class="fas fa-user-edit"></i><span id="commentCount">  <%= comments.length %></span> Comments
              <!-- author here -->
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <article>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div id="viewDisplay">
                  <!-- Blog Content Code -->
                  <p><%=article.blog_main%></p>
                  <br>
                  <br>
                  <br>
                  <div>
                      <p><i class="fas fa-folder-open"></i>  Category: <a href="/tag_post/<%=article.tags%>" id="uvuavf">  <%=article.tags%></a></p>
                      <a class="btn btn-primary" href="/" style="text-align: right;">Back to Home Page</a>
                </div>
                <!-- <div id="viewCategory">
                  Category
                </div> -->
                <div>
                  <!-- Comment List -->
                  <hr>
                  <br>
                  <h3 class="mb-5" style="text-align: center;">Comments</h3>
                  <ul id="comment_list" class="comments comment-list list-group list-group-flush">
                      <!-- Comments Details -->
                      <% comments.forEach(function(comment){ %>
                        <li class="comment  list-group-item" id="commentPost">
                          <div class="comment-body">
                          <div class="row">
                              <div class="col-7"><h5><%= comment.cName %></h5> </div>
                              <div class="col-5 text-right font-italic font-weight-light" style="font-size:15px;"><%= comment.date.slice(0,24) %></div>
                          </div>
                          <p><%= comment.cBody %></p>
                        </div>
                        </li>
                      <% }) %>
                  </ul>
                </div>
                <div class="comment-form-wrap pt-5">
                  <!-- comment Form -->
                  <hr>
                  <h3 class="mb-5">Leave a comment</h3>
                  <form action="/views/<%=article.id%>" method="POST" class="p-5 bg-light">
                      <div class="form-group">
                        <label for="name">Name *</label>
                        <input type="text" class="form-control" id="comment_name" name="comment_name" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" class="form-control" id="comment_email" name="comment_email" required>
                      </div>
                      <div class="form-group">
                        <label for="message">Comment</label>
                        <textarea id="comment_body" cols="30" rows="3" class="form-control" name="comment_body" required></textarea>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Post Comment" class="btn btn-primary" id="comment_submit">
                      </div>

                    </form>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-3">
          <div class="card mb-3" id="fullsideBar">
              <div class="card-body">
                  <h5 class="card-title">Stay Updated</h5>
                  <p class="card-text">Don't want to miss updates? Please click the below button!</p>
                  <a href="#" class="btn btn-primary">Subscribe to my feed</a>
              </div>
          </div>
          <!--Catgories-->
          <div class="card mb-3">
                  <div class="card-header">
                          Category
                  </div>
                  <div class="card-body">
                      <ul class="list-inline" id="category_view">
                          <!--Dynamic Catgories-->
                      </ul>
                  </div>
            </div>
      </div>
      <!-- Row Div -->
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>
  <!-- <script type="text/javascript" src="./js/index.js"></script> -->
  <!-- <script src="./js/paginate.js"></script> -->
  <!-- <script type="text/javascript" src="./js/views.js"></script> -->
  <script type="text/javascript" src="/js/all.js"></script>
  <script src="./admin/js/customizer.js"></script>

</body>

</html>
